Dockerfile
.dockerignore
.next
.git
.gitignore
README.md
.env*.local
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Kubernetes files
k8s/
*.yaml
*.yml

# Local development
.vscode
.idea
*.swp
*.swo
*~
